#title {
    text-decoration: underline;
    font-size: large;
}
.btn-primary {
    font-weight: bold;
    color: red;
    margin: 10%;
}

.dropdown:hover {
    background-color: #e4b9c0;
}


#hyperlink:hover {
    font-style: italic;
    color: darkviolet;
}

#content {
    font-style: italic;
}

p {
    padding: 10%;
}

#content p {
    color: orange;
}
