body {
    font-family: Lato;
    font-weight: bolder;
    background-color: navy;
}

.building-labels {
    /*font-style: oblique;*/
}

.building-bars:hover {
    fill: gold;
    stroke: gold;
}

.building-bars:active {
    fill: darkred;
    stroke: darkred;
}

.building-labels:hover {
    fill: gold;
}

.building-labels:active {
    fill: darkred;
}

table {
    background: navy;
}

tr {
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

th {
    font-size: large;
    text-align: center;
}

td {
    width: 200px;
    text-align: right;
}

td {
    font-size: medium;
}